body {
  color: #333;
  background-color: #f4ede7;
  margin: 0;
  padding: 0;
  font-family: Jost, Nunito Sans, Open Sans, Montserrat, Roboto, sans-serif;
}

.wrapper {
  width: 85%;
  color: #11316c;
  background-color: #fff;
  margin-block: 1rem;
  margin-inline: auto;
  font-size: 1rem;
  box-shadow: .7rem .5rem 1rem .2rem #4d4e4e80;
}

header {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

#logo {
  height: 5vh;
  align-items: center;
  padding: 1rem;
  display: block;
}

ul {
  color: #000;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline: 0;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

li a {
  color: #7e7e7e;
  font-weight: 200;
  text-decoration: none;
}

li a:hover {
  color: green;
  background-color: #eef3f3;
  border: 1px solid #0000;
  border-radius: 1rem;
  margin: 5px 0 5px 4px;
  padding: 4px 10px;
  font-weight: bold;
}

.main-image img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-inline: auto;
}

main {
  flex-flow: column wrap;
  align-content: space-around;
  gap: 1rem;
  padding-block-end: 3rem;
  display: flex;
}

.turned-leaf {
  transform: rotateY(180deg);
}

.product-container {
  width: 90%;
  height: 30%;
  flex-direction: column;
  align-content: space-evenly;
  gap: 1rem;
  margin-inline: auto;
  display: flex;
}

.candles-image {
  box-sizing: content-box;
  width: 100%;
  grid-area: CANDLES-IMAGE;
  margin-inline: auto;
}

.image-text {
  color: #7e7e7e;
  text-transform: capitalize;
  grid-area: IMAGE-TEXT;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.image-price {
  grid-area: IMAGE-PRICE;
  margin: 0;
  font-weight: bold;
}

.shopping-cart {
  grid-area: SHOPPING-CART;
}

section {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

section p {
  color: green;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  font-family: Crafty Girls, cursive;
  font-size: 1.2rem;
  font-weight: bold;
}

.leaf, .turned-leaf {
  display: none;
}

#candles1 {
  grid-area: CANDLES1;
}

#candles2 {
  grid-area: CANDLES2;
}

#candles3 {
  grid-area: CANDLES3;
}

#candles4 {
  grid-area: CANDLES4;
}

#candles5 {
  grid-area: CANDLES5;
}

#candles6 {
  grid-area: CANDLES6;
}

#candles14 {
  grid-area: CANDLES14;
}

#candles15 {
  grid-area: CANDLES15;
}

#candles16 {
  grid-area: CANDLES16;
}

.candles {
  grid-template: "CANDLES-IMAGE CANDLES-IMAGE CANDLES-IMAGE" 2fr
                 "IMAGE-TEXT IMAGE-PRICE SHOPPING-CART" .5fr
                 / 2.2fr 1.5fr .7fr;
  align-content: center;
  place-items: center;
  gap: .5rem;
  display: grid;
}

.candles:hover {
  transform: scale(1.01);
  box-shadow: .5rem .5rem .5rem .2rem #d4d6d680;
}

#facebook, #instagram {
  height: 2rem;
}

form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: flex;
}

#val1 {
  width: 1rem;
}

.checkbox-group {
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  display: flex;
}

footer {
  color: green;
  background-color: #eef3f3;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1rem;
  display: flex;
}

#footer-contact {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0;
  display: flex;
}

@media (min-width: 400px) {
  header {
    flex-direction: row;
  }
}

@media (min-width: 480px) {
  .product-container {
    grid-template: "CANDLES1 CANDLES2" 1fr
                   "CANDLES3 CANDLES4" 1fr
                   "CANDLES5 CANDLES6" 1fr
                   / 1fr 1fr;
    display: grid;
  }

  li a {
    font-size: 1rem;
  }

  section p {
    padding-block: 1.3rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 500px) {
  .topbar-text {
    background-color: #ff4500;
    display: block;
  }

  header {
    width: 100%;
    padding: 0;
  }

  nav {
    width: 100%;
    padding-inline: 1rem;
  }

  .logo {
    padding-inline: 1rem;
  }

  ul {
    width: 100%;
    flex-direction: row;
    place-content: flex-end;
    align-items: center;
    gap: 1.8rem;
    display: flex;
  }

  .leaf, .turned-leaf {
    display: inline-flex;
  }

  #footer-contact {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 0;
    display: flex;
  }

  footer {
    color: green;
    background-color: #eef3f3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block-start: 1rem;
    padding-inline: 1rem;
    display: flex;
  }
}

@media (min-width: 920px) {
  .product-container {
    grid-template: "CANDLES1 CANDLES2 CANDLES3" 1fr
                   "CANDLES4 CANDLES5 CANDLES6" 1fr
                   / 1fr 1fr 1fr;
    display: grid;
  }

  li a {
    font-size: 1.3rem;
  }

  ul {
    gap: 1rem;
  }

  #logo {
    height: 7vh;
    padding: 1rem;
  }

  section p {
    padding-block: 1.6rem;
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    width: 65%;
  }
}

/*# sourceMappingURL=index.2cdaf7bc.css.map */
